 @charset"UTF-8";

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(../fonts/light.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(../fonts/normal.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(../fonts/normalmedium.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(../fonts/bold.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(../fonts/italic.ttf) format('truetype');
}


h1 {
    font-weight: lighter;
}

body > .container {
    width: calc(100% - 48px);
    padding: 20px;
    float: right;
    margin: 0;
    -webkit-transition: padding-top 0.2s ease-in;
}

input::-webkit-input-placeholder {
    font-style: italic;
    font-family:'bebasregular', helvetica, sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}
ng\:form {
    display: block;
}

body {
    background-color: #FFF;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    color: #444;
    height: 100%;
}


    

query-monitor {
    position: fixed;
    bottom: 0px;
    right:0px;
    background-color: rgba(0,50,0,0.8);
    color: white;
    font-size: 12px;
    padding:10px;
    z-index:10000;
    width: 250px;
    border-radius: 10px;
    height: 80px;
    opacity:0;
    -webkit-transform: translateX(120%);
    -webkit-transition: all 0.2s ease-in;
}
query-monitor i {
    float: left;
    font-size: 35px;
    margin: 4px;
    margin-right:8px;
}
query-monitor .progress {
    margin-bottom: 10px;
}
query-monitor.show {
    opacity: 1;
    -webkit-transform: translateX(0);
}

.document {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: rgba(25,25,25,0.1);
    margin: 20px;
    height: 300px;
    position: relative;
}

.document img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.document strong {
    position: absolute;
    bottom:0px;
    left:0px;
}

.company {
  border: 1px dashed rgb(25,25,25);
  width: 250px;
  height: 250px;
  text-align: center;
  position: relative;
}

.company .doccount {
    position: absolute;
    top:0px;
    right: 0px;
    border-bottom: 1px dotted rgb(25,25,25);
    border-left: 1px dotted rgb(25,25,25);
    padding: 5px;
    color: black;
    background-color: rgba(255,255,0,0.4);
}

.documentinfo {
  display: block;
  margin: 0;
  margin-top: -25px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  text-align: center;
}

md-grid-list md-grid-tile md-grid-tile-footer {
    height:75px;
}

.circle {
  border-radius: 40px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}