<md-dialog>
 	 <md-content>
	<md-toolbar class="md-default-theme">
			<h4 class="md-title" style='padding-left:25px'>Add a new company</h4>
		</md-toolbar>

		  

  <formly-form model="company" fields="companyFields">

		<button ng-if="company" class="btn btn-success" ng-click="findLogo(); showLogoSearch=true"><i class="glyphicon glyphicon-search"></i> Find Logo</button>

	</formly-form>


  </md-content>
  <div class="md-actions">
  	<md-button type="submit" class="btn btn-success" ng-click="saveCompany(); closeDialog()"><i class="glyphicon glyphicon-key"></i> Save </md-button>

  </div>
</md-dialog>