<div layout="row">
<md-card flex="50">
    <md-subheader class="primary">All Companies</md-subheader>
    <md-card-content  style='overflow-y: auto'>
   		 <div>
          		<h1>You have no companies yet</h1>
          		<h4>Go create one!</h4>
          	</div>
        <md-list ng-if="vm.companies.length > 0">
          <md-item ng-repeat="company in vm.companies">
            <md-item-content ng-click="vm.go(company) ">

              <div class="md-tile-left">
                  <img ng-src=".{{company.image}}" style='height:80px; width:80px' class="circle">
              </div>
              <div class="md-tile-content">
                <h3>{{company.name}}</h4>
                <p>Documents: {{ company.docCount }} </p>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
    </md-card-content>
</md-card>

<md-card flex="45">
   
    <md-subheader class="primary">Create a new company</md-subheader>
    <md-card-content style='overflow-y: auto'>
      <company id="{{vm.Document.ID_Company}}" editor></company>

    </md-card-content>
</md-card>