<div layout="row">
	<md-card>
		 <md-subheader class="primary">{{vm.Document.name }}</md-subheader>
				
		<md-card-content>

			<strong>Filename: </strong>{{ vm.Document.filepath }}<br>
			<strong>Description: </strong>{{ vm.Document.description }}<br>
			<strong>Last accessed</strong> {{vm.Document.lastAccessed }}<br>
			<strong>Opened count</strong> {{ vm.Document.openedCount }}<br>

			<company id="{{vm.Document.ID_Company}}"></company>
			
			<h3>Tags:</h3>
			[add]

			
		</md-card-content>
	</md-card>

	<md-card ng-if="!vm.showpdf">
		<md-card-content>
			<img ng-src=".{{vm.Document.image}}" ng-click="vm.showpdf = true"><br>
			<md-button ng-click="vm.showpdf = true">Show Full PDF</md-button>

		</md-card-content>
	</md-card>
	<ng-pdf ng-if="vm.showpdf && vm.pdf" canvasid="pdf" scale="1.5"></ng-pdf>
			
	

</div>
	