<h1>Welcome {{home.username}}</h1>


<formly-form model="home.uploadModel" fields="home.uploadFields">
  <button type="submit" class="btn btn-success" ng-click="home.upload()"><i class="glyphicon glyphicon-upload"></i> Upload</button>
</formly-form>

<p ng-if="home.saved">Saved! {{home.uploadModel.ID_Document}}</p>


<h1>Uploaded documents:</h1>

<ul>
<li ng-repeat="document in home.documents">
	<strong>ID</strong>: {{document.ID_Document}}<br>
	<strong>Name</strong>: {{document.name}}<br>
	<strong>Path:</strong> {{ document.filepath}}</li>
</ul>