<div class="leftpanel">
<h3>Upload a document</h3>
<formly-form model="upload.uploadModel" fields="upload.uploadFields">
  <button type="submit" class="btn btn-success" ng-click="upload.upload()"><i class="glyphicon glyphicon-upload"></i> Upload</button>
</formly-form>

<div ng-if="upload.uploadQueue.length > 0">
<strong>Uploading:</strong>

<ul>
	<li ng-repeat="upload in upload.uploadQueue">
	{{ upload.name }} <span ng-if="!upload.isConverted">Processing</span> <span ng-if="upload.isConverted">OK</span>
	</li>
</ul>
</div>

</div>

<p ng-if="home.saved">Saved! {{upload.uploadModel.ID_Document}}</p>

</div>
<div class="rightpanel">
<h1>Right</h1>

</div>
